
.logoFundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #0A4973;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.logoFundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    position: absolute;
    top: 50%;
    right: 7%;
    width: 540px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: translateY(-50%);
    padding: 20px;
}

.form-box h2 {
    font-size: 3.5em;
    color: #0A4973;
    text-align: center;
    margin-bottom: 50px;
}

.input-box {
    position: relative;
    height: 40px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-box {
    border-bottom: 2px solid #0A4973;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: #0A4973;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5em;
    color: #0A4973;
    font-weight: 600;
    padding: 0 5px;
    box-sizing: border-box;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    font-size: 1.5em;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.5em;
    color: #0A4973;
    line-height: 40px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #ff8800;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: #0A4973;
    font-weight: 500;
    margin-top: 20px;
}

.voltar {
    font-size: 1.5em;
    color: #0A4973;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
    display: flex;
    justify-content: center;
}

.voltar a {
    color: #0A4973;
    text-decoration: none;
    font-weight: 600;
    margin:  0;
}

.voltar a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .wrapper {
        width: 90%;
        right: 0;
        padding: 20px;
    }

    .form-box h2 {
        font-size: 2.5em;
    }

    .input-box {
        height: 50px;
    }

    .btn {
        height: 55px;
    }
}
