.title {
    font-size: 2rem;
    color: black;
    margin-top: 5rem;
    width: 60%;
    height: 120px;
    text-align: left;
}
.title h1 {
    margin-bottom: 20px;
    text-align: center;

}
.title .paragrafh {
    margin-top: 0;
    text-align: justify;
    width: 80%;
}
.proced {
    margin-top: 10px;
    padding: 20px;
    font-size: 1.1em;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
section{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.notice, img{
    border-image: space;
    background-color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.paragrafh{
    text-align: justify;
    font-size: large;
    width: 60%;
    margin-left: 10%;    
}
.grid-item {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
}
iframe{
    width: 100%;
    height: 20em;
    position: relative;
}