.Mapa{
    width: 50%;
    height: max-content;
}
iframe{
    margin-top: 40px;
    width: 80%;
    height: 45rem;
}
.divs{
    display: flex;
    align-items: center;
    justify-items: center;
}
.farmacias {
    padding: 20px;
    background-color: #0A4973;
    color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px auto;
    width: max-content;
    height: min-content;
}
.farmacias h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}
.farmacias ul li {
    font-size: 18px;
    text-align: justify;
    margin: 10px 10px;
}
.farmacias ul li a{
    color: white;
}
.farmacias ul li:last-child {
    border-bottom: none;
}
