* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    vertical-align: auto;
}
body{    
    background-color: #0A4973;  
}
/* Centraliza a tabela e define seu estilo */
.table-container {
    position: absolute;
    margin-left: 20%;
    width: 100%;
    color: white;
}

table {
    width: 60%;
    border-collapse: collapse;
    text-align: justify;
}

th, td {
    border: 2px solid #ff8800;
    padding: 20px;
    text-align: center;
}

td a {
    color: white;
}

header {
    background-color: #0A4973;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

header .logo img {
    background: white;
    border-radius: 3%;
    height: 60px;
    width: 180px;
    padding: 0 1rem 0 1rem;
}
nav ul li a.active, /* Estilo para o item ativo */
nav ul li a:hover {  /* Também aplicamos o hover para consistência */
    color: #ff8800;  /* Destaque laranja */
    font-weight: bold; /* Opcional: torna o item em negrito */
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header .auth-buttons {
    display: flex;
    align-items: center;
}

header .auth-buttons button {
    margin-left: 10px;
    padding: 5px 15px;
    background-color: #ffcc00;
    border-radius: 10px;
    border: none;
    color: black;
    cursor: pointer;
}

.search-container{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    gap: 16px; /* Espaçamento entre os cards */
    justify-content: center; /* Centraliza as fileiras */
}

.search-input {
    width: 60%;
    padding: 10px;
    font-size: 24px; 
    border-radius: 20px;
    border: 1px solid black;
    text-indent: 30px;
    background: url('search-icon.png') no-repeat 10px center;
    background-size: 20px 20px;
}
