* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    vertical-align: auto;    
}
body {    
    background-color: #0A4973;    
}
header, .coluna1, .coluna2, .coluna3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}
header .logo img {
    background: white;
    border-radius: 3%;
    height: 60px;
    width: 180px;
    padding: 0 1rem 0 1rem;
}

nav ul li a.active,
nav ul li a:hover {
    color: #ff8800;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
header nav ul li {
    margin-right: 20px;
}
header nav ul li a {
    color: white;
    text-decoration: none;
}
header .auth-buttons {
    display: flex;
    align-items: center;
}
header .auth-buttons button {
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #ffcc00;
    border: none;
    color: black;
    cursor: pointer;
}
.search-container{
    display: flex;
    padding: 2px;
    justify-content: center;
    background-color: #0A4973;
}
.search-container button{
    margin: 0px 20px;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border: 2px solid #ff8800;
    border-radius: 5px;        
    background-color: #ff8800;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
.search-container button:hover {
    background-color: #0A4973;
    transition: background-color 0.3s ease; 
}
.search-input {
    width: 80%;
    padding: 5px;
    font-size: 24px; 
    text-align: center;
    border-radius: 10px;
    border: 3px solid #d4d9df;
    text-indent: 5px;
    background-size: 20px 80px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.button-container button {
    margin: 0px;
    padding: 10px 20px;    
    font-size: 1.1em;
    cursor: pointer;
    border: 2px solid #ff8800;
    border-radius: 5px;        
    background-color: #ff8800;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
.button-container button a{
    text-decoration: none;
}
.button-container button:hover {
    background-color: #0A4973;
    transition: background-color 0.3s ease;
}